/node_modules
/public/node_modules
/package-lock.json
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/logs.txt
/composer.lock
/filemanager/files/*
/filemanager/thumbs/*
network_data.xml

*.mp4
!landing_page.mp4

*.pdf

/html
.history

/dist